<form action="./newTask" method="GET" class="taskForm">
        <input type="text" name="taskName" placeholder="enter task" class="taskInput">
        <button class="taskBtn" type="submit">Enter</button>
</form>